<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plana</title>
  </head>
  <body>
    <h1>Hello <b><%= name %></b>,</h1>
    <h3>Welcome to Plana! Discover Events that Match Your Interests</h3>
    <p>
      We are delighted that you wish to join us as an organizer! Our promise is
      to keep our clients up to date with our latest events. Brighten their
      lives with exciting events. No matter what interests they may have, we
      commit to provide events to give them the best time of their lives.
    </p>
    <p>
      <span style="font-weight: bold"
        >You registration is currently awaiting verification</span
      >. After the admin approves your registration, you will receive an email.
      If you do not receive an email within 48hrs, feel free to reach out to our
      Support.
    </p>
    <img
      src="https://img.freepik.com/free-vector/tiny-business-people-team-around-huge-calendar_107791-13876.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1720915200&semt=ais_user"
      alt="Event management"
      width="80%"
      style="max-width: 40rem"
      height="auto"
    />

    <p>Warm Regards,<br />>Plana Team</p>

    <div>
      <p>
        Copyright © 2024 Plana. All Rights Reserved. <br />
        Plana will always protect your security and privacy, Please read our
        detailed <span style="color: #1155cc">Privacy Policy</span>. <br />
        Please do not reply to this email. For support, you can
        <span style="color: #1155cc">Contact Us</span>.
      </p>
      <p>
        Contact Address: <br />

        Chuka, Tharaka Nithi, Kenya
      </p>
    </div>
  </body>
</html>
