<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plana</title>
  </head>
  <body>
    <h1>Hello <b><%= name %></b>,</h1>
    <h3>Welcome to Plana! Discover Events that Match Your Interests</h3>
    <p>
      We are delighted to have you as an organizer on our platform! Our promise
      is to keep our clients up to date with our latest events. Brighten their
      lives with exciting events. No matter what interests they may have, we
      commit to provide events to give them the best time of their lives.
    </p>
    <p>
      <span style="font-weight: bold"> You registration has been approved</span
      >. You can now login to our platform where you can create and manage your
      events. If you have any questions, feel free to reach out to our Support.
    </p>
    <img
      src="https://cdni.iconscout.com/illustration/premium/thumb/happy-woman-celebrating-event-with-balloon-and-confetti-5618135-4677401.png"
      alt="Happy"
      width="80%"
      style="max-width: 40rem"
      height="auto"
    />

    <p>Warm Regards,<br />>Plana Team</p>

    <div>
      <p>
        Copyright © 2024 Plana. All Rights Reserved. <br />
        Plana will always protect your security and privacy, Please read our
        detailed <span style="color: #1155cc">Privacy Policy</span>. <br />
        Please do not reply to this email. For support, you can
        <span style="color: #1155cc">Contact Us</span>.
      </p>
      <p>
        Contact Address: <br />

        Chuka, Tharaka Nithi, Kenya
      </p>
    </div>
  </body>
</html>
