<section class="bg-gray-bg w-[80vw] min-h-screen">
  <div class="top-8 fixed" *ngIf="showMessage">
    <p class="bg-red-400 px-12 py-2 rounded-lg" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
    <p class="bg-green-400 px-12 py-2 rounded-lg" *ngIf="successMessage">
      {{ successMessage }}
    </p>
  </div>
  <div
    class="top-0 right-0 bottom-0 left-0 z-40 fixed flex justify-center items-center bg-[rgba(0,0,0,0.4)]"
    *ngIf="showConfirmation"
  >
    <div class="bg-white p-4 rounded-xl w-80 h-60">
      <h2 class="py-1 font-bold text-4xl text-center">Confirmation</h2>
      <p class="text-xl">Are you sure you want to deactivate the user?</p>
      <div class="flex justify-between my-8">
        <button
          class="bg-red-400 px-12 py-2 rounded-lg text-xl"
          (click)="confirmDialog(false)"
        >
          No</button
        ><button
          class="bg-green-400 px-12 py-2 rounded-lg text-xl"
          (click)="confirmDialog(true)"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
  <div class="bg-white1 p-4">
    <h1 class="font-bold text-4xl text-center">CLIENTS</h1>
  </div>
  <div class="relative flex justify-center px-4 py-4">
    <select
      name="event"
      id="event"
      class="left-4 absolute px-8 py-2 rounded-2xl"
    >
      <option value="all">All</option>
    </select>
    <input
      type="search"
      name="search"
      id="search"
      placeholder="Search Name"
      class="bg-white1 px-8 py-2 rounded-3xl w-80"
    />
  </div>
  <div class="px-4">
    <table class="bg-white1 p-2 w-full table-auto">
      <thead class="bg-yellow-300">
        <th class="border-stroke border text-start">Name</th>
        <th class="border-stroke border text-start">Email</th>
        <th class="border-stroke border text-start">Phone Number</th>
        <th class="border-stroke border text-start">Profile Photo</th>
        <th class="border-stroke border text-start">Country</th>
        <th class="border-stroke border text-start" *ngIf="role === 'admin'">
          Actions
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients" class="odd:bg-white1 even:bg-blue1">
          <td class="border-stroke border">{{ client.name }}</td>
          <td class="border-stroke border">{{ client.email }}</td>
          <td class="border-stroke border">{{ client.phoneNumber }}</td>
          <td class="border-stroke border">
            <img
              src="{{ client.imageUrl }}"
              alt=""
              class="rounded-full w-8 h-8"
            />
          </td>
          <td class="border-stroke border">{{ client.country }}</td>
          <td class="flex gap-2 border-stroke px-2 border">
            <img
              class="w-12 h-12 hover:cursor-pointer"
              src="/icons/delete.svg"
              alt="delete button"
              (click)="showConfirmDialog(client.id)"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
