<section
  class="flex flex-col items-center bg-gray-bg w-full min-w-[79vw] min-h-screen"
>
  <div class="top-8 fixed" *ngIf="showMessage">
    <p class="bg-red-400 px-12 py-2 rounded-lg" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
    <p class="bg-green-400 px-12 py-2 rounded-lg" *ngIf="successMessage">
      {{ successMessage }}
    </p>
  </div>
  <div class="bg-white1 p-4 w-full">
    <h1 class="font-bold text-4xl text-center">PROFILE</h1>
  </div>
  <div class="flex justify-center p-2">
    <div class="flex items-center gap-2">
      <img
        src="images/profile.jpg"
        alt="profile image"
        class="rounded-full w-40 h-40"
      />
      <div>
        <p>Change profile picture</p>
        <input type="file" name="image" id="image" />
      </div>
    </div>
  </div>
  <div *ngIf="!userDetails">
    <h2 class="text-center text-green-400 text-xl">Fetching your profile...</h2>
  </div>
  <div class="space-y-12 p-4 w-full max-w-[80rem]" *ngIf="userDetails">
    <form class="flex flex-col">
      <h2 class="text-2xl text-center">Manage Account Details</h2>
      <label for="number">Name:</label>
      <input
        class="mb-4 px-4 py-1"
        type="text"
        name="name"
        id="name"
        [value]="userDetails.name"
      />
      <label for="email">Email:</label>
      <input
        class="mb-4 px-4 py-1"
        type="email"
        name="email"
        id="email"
        [value]="userDetails.email"
      />
      <label for="number">Phone Number:</label>
      <input
        class="mb-4 px-4 py-1"
        type="number"
        number="number"
        id="number"
        [value]="userDetails.phoneNumber"
      />
      <label for="country">Country</label>
      <select
        name="country"
        id="country"
        class="w-full"
        [value]="userDetails.country"
      >
        <option
          *ngFor="let country of countries"
          value="{{ country }}"
          [selected]="country === userDetails.country"
        >
          {{ country }}
        </option>
      </select>
      <div class="flex justify-center">
        <button
          type="button"
          (click)="updateUserDetails()"
          class="bg-blue mt-8 px-8 py-1 rounded-md text-white"
        >
          Update Profile
        </button>
      </div>
    </form>
    <form
      [formGroup]="passwordForm"
      class="flex flex-col"
      (ngSubmit)="updatePassword()"
    >
      <h2 class="text-2xl text-center">Manage Password</h2>

      <label for="oldPassword">Old Password:</label>
      <input
        class="mb-4 px-4 py-1"
        type="password"
        id="oldPassword"
        formControlName="old_password"
        placeholder="********"
      />
      <div
        *ngIf="
          passwordForm.get('old_password')?.invalid &&
          passwordForm.get('old_password')?.touched
        "
        class="text-red-500"
      >
        Old password is required.
      </div>

      <label for="password">New Password:</label>
      <input
        class="mb-4 px-4 py-1"
        type="password"
        id="password"
        formControlName="new_password"
        placeholder="********"
      />
      <div
        *ngIf="
          passwordForm.get('new_password')?.invalid &&
          passwordForm.get('new_password')?.touched
        "
        class="text-red-500"
      >
        <div *ngIf="passwordForm.get('new_password')?.errors?.['required']">
          New password is required.
        </div>
        <div *ngIf="passwordForm.get('new_password')?.errors?.['minlength']">
          Password must be at least 6 characters long.
        </div>
      </div>

      <label for="confirmPassword">Confirm Password:</label>
      <input
        class="mb-4 px-4 py-1"
        type="password"
        id="confirmPassword"
        formControlName="confirm_password"
        placeholder="********"
      />
      <div
        *ngIf="
          passwordForm.get('confirm_password')?.invalid &&
          passwordForm.get('confirm_password')?.touched
        "
        class="text-red-500"
      >
        Confirm password is required.
      </div>
      <div
        *ngIf="passwordForm.errors?.['mismatch'] && passwordForm.get('confirm_password')?.touched"
        class="text-red-500"
      >
        Passwords do not match.
      </div>

      <div class="flex justify-center">
        <button
          type="submit"
          class="bg-blue mt-8 px-8 py-1 rounded-md text-white"
          [disabled]="passwordForm.invalid"
        >
          Update Password
        </button>
      </div>
    </form>
  </div>
</section>
