<section
  class="flex flex-col items-center bg-gray-bg w-full min-w-[79vw] min-h-screen"
>
  <div class="bg-white1 p-4 w-full">
    <h1 class="font-bold text-4xl text-center">PROFILE</h1>
  </div>
  <div class="flex justify-center p-2">
    <div class="flex items-center gap-2">
      <img
        src="images/profile.jpg"
        alt="profile image"
        class="rounded-full w-40 h-40"
      />
      <div>
        <p>Change profile picture</p>
        <input type="file" name="image" id="image" />
      </div>
    </div>
  </div>
  <div *ngIf="!userDetails">
    <h2 class="text-center text-green-400 text-xl">Fetching your profile...</h2>
  </div>
  <div class="space-y-12 p-4 w-full max-w-[80rem]" *ngIf="userDetails">
    <form class="flex flex-col">
      <h2 class="text-2xl text-center">Manage Account Details</h2>
      <label for="number">Name:</label>
      <input
        class="mb-4 px-4 py-1"
        type="text"
        name="name"
        id="name"
        [value]="userDetails.name"
      />
      <label for="email">Email:</label>
      <input
        class="mb-4 px-4 py-1"
        type="email"
        name="email"
        id="email"
        [value]="userDetails.email"
      />
      <label for="number">Phone Number:</label>
      <input
        class="mb-4 px-4 py-1"
        type="number"
        number="number"
        id="number"
        [value]="userDetails.phoneNumber"
      />
      <label for="country">Country</label>
      <select
        name="country"
        id="country"
        class="w-full"
        formControlName="country"
        [value]="userDetails.country"
      >
        <option value="" disabled selected>Select Country</option>
        <option *ngFor="let country of countries" value="{{ country }}">
          {{ country }}
        </option>
      </select>
      <div class="flex justify-center">
        <button
          type="button"
          class="bg-blue mt-8 px-8 py-1 rounded-md text-white"
        >
          Update Profile
        </button>
      </div>
    </form>
    <form class="flex flex-col">
      <h2 class="text-2xl text-center">Manage Password</h2>
      <label for="oldPassword">Old Password:</label>
      <input
        class="mb-4 px-4 py-1"
        type="password"
        name="oldPassword"
        id="oldPassword"
        placeholder="********"
      />
      <label for="password">New Password:</label>
      <input
        class="mb-4 px-4 py-1"
        type="password"
        name="password"
        id="password"
        placeholder="********"
      />
      <label for="confirmPassword">Confirm Password:</label>
      <input
        class="mb-4 px-4 py-1"
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        placeholder="********"
      />
      <div class="flex justify-center">
        <button
          type="button"
          class="bg-blue mt-8 px-8 py-1 rounded-md text-white"
        >
          Update Password
        </button>
      </div>
    </form>
  </div>
</section>
