<section class="bg-gray-bg w-[80vw] min-h-screen text-xl">
  <div class="bg-white1 p-4">
    <h1 class="font-bold text-4xl text-center">ANALYTICS</h1>
  </div>
  <div class="flex flex-wrap xl:flex-nowrap gap-4 p-4 w-full">
    <div class="w-full xl:w-5/12">
      <div class="flex flex-wrap gap-4">
        <div
          class="flex flex-col justify-around items-center bg-white1 rounded-md w-72 h-44"
        >
          <p>Total Tickets</p>
          <p>{{ analytics.totalTickets }}</p>
        </div>
        <div
          class="flex flex-col justify-around items-center bg-white1 rounded-md w-72 h-44"
        >
          <p>Total Events</p>
          <p>{{ analytics.totalEvents }}</p>
        </div>
        <div
          class="flex flex-col justify-around items-center bg-white1 rounded-md w-72 h-44"
        >
          <p>Total Sales</p>
          <p>{{ analytics.totalSales }}</p>
        </div>
        <div
          class="flex flex-col justify-around items-center bg-white1 rounded-md w-72 h-44"
        >
          <p>Total Clients</p>
          <p>{{ analytics.totalClients }}</p>
        </div>
      </div>
      <!-- <div>
        <h2>Most booked events</h2>
      </div> -->
      <div class="bg-white1 mt-4 p-4 pb-6">
        <h2 class="pb-2 font-semibold text-2xl">Recent Bookings</h2>
        <table class="bg-gray1 p-2 w-full">
          <thead>
            <th class="border-stroke border text-start">Event Name</th>
            <th class="border-stroke border text-start">Customer Name</th>
            <th class="border-stroke border text-start">Date</th>
          </thead>
          <tbody>
            <tr *ngFor="let booking of analytics.recentBookings">
              <td class="border-stroke border">{{ booking.eventName }}</td>
              <td class="border-stroke border">{{ booking.customerName }}</td>
              <td class="border-stroke border">{{ booking.bookingDate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="w-full xl:w-5/12">
      <app-chart></app-chart>
    </div>
  </div>
</section>
