<header class="bg-[#024DDF] text-white py-2 px-4 sm:px-8 space-y-2">
  <div class="flex justify-end items-center gap-4">
    <a routerLink="/login">LOGIN</a>
    <a routerLink="/register" class="bg-[#C4C4C4] text-black py-1 px-4"
      >SIGN UP</a
    >
  </div>
  <nav class="flex justify-between">
    <a routerLink="/" class="text-3xl">Plana</a>
    <menu class="flex gap-4 md:text-2xl">
      <a routerLink="/">Home</a>
      <a routerLink="/events">Events</a>
      <a routerLink="/hosts">Hosts</a>
      <a routerLink="/about">About</a>
      <a routerLink="/reservations">Reservations</a>
      <a routerLink="/contact-us">Contact Us</a>
    </menu>
  </nav>
</header>
