<section class="bg-gray-bg w-[80vw] min-h-screen">
  <div class="bg-white1 p-4">
    <h1 class="font-bold text-4xl text-center">HOSTS</h1>
  </div>
  <div class="relative flex justify-center px-4 py-4">
    <select
      name="event"
      id="event"
      class="left-4 absolute px-8 py-2 rounded-2xl"
    >
      <option value="all">All</option>
    </select>
    <input
      type="search"
      name="search"
      id="search"
      placeholder="Search Name"
      class="bg-white1 px-8 py-2 rounded-3xl w-80"
    />
  </div>
  <div class="px-4">
    <table class="bg-white1 p-2 w-full">
      <thead>
        <th class="border-stroke border text-start">Name</th>
        <th class="border-stroke border text-start">Email</th>
        <th class="border-stroke border text-start">Phone Number</th>
        <th class="border-stroke border text-start">Profile Photo</th>
        <th class="border-stroke border text-start">Country</th>
        <th class="border-stroke border text-start">Status</th>
        <th class="border-stroke border text-start">Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let host of hosts">
          <td class="border-stroke border">{{ host.name }}</td>
          <td class="border-stroke border">{{ host.email }}</td>
          <td class="border-stroke border">{{ host.phoneNumber }}</td>
          <td class="border-stroke border">
            <img
              src="{{ host.imageUrl }}"
              alt=""
              class="rounded-full w-10 h-10"
            />
          </td>
          <td class="border-stroke border">{{ host.country }}</td>
          <td class="border-stroke border">{{ host.country }}</td>
          <td class="flex gap-2 border-stroke px-2 border">
            <img
              class="w-12 h-12 hover:cursor-pointer"
              src="/icons/delete.svg"
              alt="delete button"
              (click)="deactivateHost(host.id)"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
