<section class="flex flex-col items-center bg-gray-bg w-[80vw] min-h-screen">
  <div class="bg-white1 p-4 w-full">
    <h1 class="font-bold text-4xl text-center">EVENTS</h1>
  </div>
  <form
    [formGroup]="eventForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-wrap justify-center gap-4 p-4"
  >
    <div class="bg-[rgba(75,85,99,0.5)] mt-8 p-4 rounded-xl w-[40rem]">
      <h2 class="py-2 font-bold text-2xl text-center">Create Event</h2>
      <div class="mb-4">
        <label for="title" class="font-semibold text-white">Event Title</label>
        <input
          formControlName="title"
          type="text"
          placeholder="Event title"
          class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
        />
        <div
          *ngIf="
            eventForm.get('title')?.invalid && eventForm.get('title')?.touched
          "
          class="text-red-500"
        >
          Event title is required.
        </div>
      </div>
      <div class="mb-4">
        <label for="description" class="font-semibold text-white"
          >Event Description</label
        >
        <textarea
          formControlName="description"
          type="text"
          placeholder="Event description..."
          class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
        ></textarea>
        <div
          *ngIf="
            eventForm.get('description')?.invalid &&
            eventForm.get('description')?.touched
          "
          class="text-red-500"
        >
          Event description is required.
        </div>
      </div>
      <div class="mb-4">
        <select
          formControlName="country"
          name="country"
          id="country"
          class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
        >
          <option value="" disabled selected>Event Country</option>
          <option *ngFor="let country of countries" [value]="country">
            {{ country }}
          </option>
        </select>
        <div
          *ngIf="
            eventForm.get('country')?.invalid &&
            eventForm.get('country')?.touched
          "
          class="text-red-500"
        >
          Event country is required.
        </div>
      </div>
      <div class="mb-4">
        <input
          formControlName="city"
          type="text"
          placeholder="Event city"
          class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
        />
        <div
          *ngIf="
            eventForm.get('city')?.invalid && eventForm.get('city')?.touched
          "
          class="text-red-500"
        >
          Event city is required.
        </div>
      </div>
      <div class="mb-4">
        <input
          formControlName="location"
          type="text"
          placeholder="Event location"
          class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
        />
        <div
          *ngIf="
            eventForm.get('location')?.invalid &&
            eventForm.get('location')?.touched
          "
          class="text-red-500"
        >
          Event location is required.
        </div>
      </div>
      <div class="mb-4">
        <input
          formControlName="capacity"
          type="number"
          placeholder="Event capacity"
          class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
        />
        <div
          *ngIf="
            eventForm.get('capacity')?.invalid &&
            eventForm.get('capacity')?.touched
          "
          class="text-red-500"
        >
          Event capacity is required and must be a positive number.
        </div>
      </div>
      <div class="mb-4">
        <select
          formControlName="categoryId"
          name="category"
          id="category"
          class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
        >
          <option value="" disabled selected>Event category</option>
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
        <div
          *ngIf="
            eventForm.get('categoryId')?.invalid &&
            eventForm.get('categoryId')?.touched
          "
          class="text-red-500"
        >
          Event category is required.
        </div>
      </div>
    </div>
    <div class="bg-[rgba(75,85,99,0.5)] mt-8 p-4 rounded-xl w-[40rem]">
      <div class="flex mb-4">
        <div class="w-1/2">
          <label for="startDate" class="font-semibold text-white"
            >Start Date</label
          >
          <input
            formControlName="startDate"
            type="date"
            placeholder="Start Date"
            class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
          />
          <div
            *ngIf="
              eventForm.get('startDate')?.invalid &&
              eventForm.get('startDate')?.touched
            "
            class="text-red-500"
          >
            Start date is required.
          </div>
        </div>
        <div class="w-1/2">
          <label for="startTime" class="font-semibold text-white"
            >Start Time</label
          >
          <input
            formControlName="startTime"
            type="time"
            placeholder="Start Time"
            class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
          />
          <div
            *ngIf="
              eventForm.get('startTime')?.invalid &&
              eventForm.get('startTime')?.touched
            "
            class="text-red-500"
          >
            Start time is required.
          </div>
        </div>
      </div>
      <div class="flex mb-4">
        <div class="w-1/2">
          <label for="endDate" class="font-semibold text-white">End Date</label>
          <input
            formControlName="endDate"
            type="date"
            placeholder="End Date"
            class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
          />
          <div
            *ngIf="
              eventForm.get('endDate')?.invalid &&
              eventForm.get('endDate')?.touched
            "
            class="text-red-500"
          >
            End date is required.
          </div>
        </div>
        <div class="w-1/2">
          <label for="endTime" class="font-semibold text-white">End Time</label>
          <input
            formControlName="endTime"
            type="time"
            placeholder="End Time"
            class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
          />
          <div
            *ngIf="
              eventForm.get('endTime')?.invalid &&
              eventForm.get('endTime')?.touched
            "
            class="text-red-500"
          >
            End time is required.
          </div>
        </div>
      </div>
      <div class="mb-4">
        <label for="imageUrl" class="font-semibold text-white"
          >Upload Image</label
        >
        <input
          type="file"
          placeholder="Event image"
          class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
          (change)="uploadFiles($event)"
        />
        <p
          *ngIf="isUploading"
          class="bg-lime-50 mt-1 px-4 rounded-lg w-full font-semibold text-green-400"
        >
          Uploading Image...
        </p>
        <p class="text-white">
          Images {{ eventForm.get("images")?.value.length }}/4
        </p>
        <div class="flex flex-wrap border-white mx-4 mt-4 w-full">
          <img
            *ngFor="let imageUrl of eventForm.get('images')?.value"
            [src]="imageUrl"
            alt="{{ eventForm.get('title')?.value }} image"
            class="bg-gray-200 m-2 w-40 h-40"
          />
        </div>
      </div>
    </div>
    <div class="flex justify-center w-full">
      <button
        type="submit"
        [disabled]="eventForm.invalid"
        class="bg-blue disabled:bg-gray-400 p-3 rounded-lg w-full max-w-[40rem] text-white"
      >
        {{ isEditing ? "Update Event" : "Create Event" }}
      </button>
    </div>
  </form>
</section>
