<section class="flex flex-col items-center bg-gray-bg w-[80vw] min-h-screen">
  <div class="bg-white1 p-4 w-full">
    <h1 class="font-bold text-4xl text-center">EVENTS</h1>
  </div>
  <form class="flex flex-wrap justify-center gap-4 p-4">
    <div class="bg-[rgba(75,85,99,0.5)] mt-8 p-4 rounded-xl w-[40rem]">
      <h2 class="py-2 font-bold text-2xl text-center">Create Event</h2>
      <div class="mb-4">
        <label for="title" class="font-semibold text-white">Event Title</label>
        <input
          type="text"
          placeholder="Event title"
          [(ngModel)]="eventCreate.title"
          class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
        />
      </div>
      <div class="mb-4">
        <label for="description" class="font-semibold text-white"
          >Event Description</label
        >
        <textarea
          type="text"
          [(ngModel)]="eventCreate.description"
          placeholder="Event description..."
          class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
        ></textarea>
      </div>
      <div class="mb-4">
        <select
          name="country"
          id="country"
          [(ngModel)]="eventCreate.country"
          class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
        >
          <option *ngIf="!isEditing" value="" disabled selected>
            Event Country
          </option>
          <option
            value="{{ country }}"
            *ngFor="let country of countries"
            [selected]="country === eventCreate.country"
          >
            {{ country }}
          </option>
          >
        </select>
      </div>
      <div class="mb-4">
        <input
          type="text"
          [(ngModel)]="eventCreate.city"
          placeholder="Event city"
          class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
        />
      </div>
      <div class="mb-4">
        <input
          type="text"
          [(ngModel)]="eventCreate.location"
          placeholder="Event location"
          class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
        />
      </div>
      <div class="mb-4">
        <input
          type="number"
          placeholder="Event capacity"
          [(ngModel)]="eventCreate.capacity"
          class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
        />
      </div>
      <div class="mb-4">
        <select
          name="category"
          id="category"
          [(ngModel)]="eventCreate.categoryId"
          class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
        >
          <option *ngIf="!isEditing" value="" disabled selected>
            Event category
          </option>
          <option *ngFor="let category of categories" value="{{ category.id }}">
            {{ category.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="bg-[rgba(75,85,99,0.5)] mt-8 p-4 rounded-xl w-[40rem]">
      <div class="flex mb-4">
        <div class="w-1/2">
          <label for="startDate" class="font-semibold text-white"
            >Start Date</label
          >
          <input
            type="date"
            [(ngModel)]="eventCreate.startDate"
            placeholder="Start Date"
            class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
          />
        </div>
        <div class="w-1/2">
          <label for="startTime" class="font-semibold text-white"
            >Start Time</label
          >
          <input
            type="time"
            [(ngModel)]="eventCreate.startTime"
            placeholder="Start Time"
            class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
          />
        </div>
      </div>
      <div class="flex mb-4">
        <div class="w-1/2">
          <label for="startDate" class="font-semibold text-white"
            >Start Date</label
          >
          <input
            type="date"
            placeholder="End Date"
            [(ngModel)]="eventCreate.endDate"
            class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
          />
        </div>
        <div class="w-1/2">
          <label for="startDate" class="font-semibold text-white"
            >Start Date</label
          >
          <input
            type="time"
            placeholder="End Time"
            [(ngModel)]="eventCreate.endTime"
            class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
          />
        </div>
      </div>
      <div class="mb-4">
        <label for="imageUrl">Upload Image</label>
        <input
          type="file"
          placeholder="Event image"
          class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
          (change)="uploadFiles($event)"
          src=""
          alt=""
        />
        <p
          *ngIf="isUploading"
          class="bg-lime-50 mt-1 px-4 rounded-lg w-full font-semibold text-green-400"
        >
          Uploading Image...
        </p>
        <p class="text-white">Images {{ eventCreate.images.length }}/4</p>
        <div class="border-white bg-red-200 mx-4 mt-4 w-full h-40">
          <img
            *ngFor="let imageUrl of eventCreate.images"
            src="{{ imageUrl }}"
            alt="{{ event.title }} image"
            class="bg-gray-200 w-40 h-40"
          />
        </div>
      </div>
    </div>
    <div class="flex justify-center w-full">
      <button
        type="button"
        (click)="onSubmit()"
        class="bg-blue disabled:bg-gray-300 p-3 rounded-lg w-full max-w-[40rem] text-white"
      >
        {{ isEditing ? "Update Event" : "Create Event" }}
      </button>
    </div>
  </form>
</section>
