<div class="mx-auto px-4 py-8 container">
  <h1 class="mb-6 font-bold text-4xl">Reservations</h1>

  <div class="mb-6">
    <button class="border-gray-800 mr-4 pb-2 border-b-2 font-semibold text-lg">
      Upcoming
    </button>
    <button class="font-semibold text-gray-500 text-lg">Past</button>
  </div>

  <!-- <div
    *ngIf="ticket"
    class="top-0 right-0 bottom-0 left-0 z-40 fixed flex justify-center items-center bg-[rgba(0,0,0,0.2)]"
  >
    <div class="relative bg-white p-4 rounded-lg w-72">
      <button class="right-0 absolute">
        <img src="/icons/cancel.png" alt="close button" />
      </button>
      <h2 class="text-2xl">Event Details</h2>
      <p>Event: {{ ticket.event.title }}</p>
      <p>Ticket: {{ ticket.eventTicket.name }}</p>
      <p>Type: {{ ticket.eventTicket.type }}</p>
      <p>Price: {{ ticket.eventTicket.price | currency : "Ksh. " }}</p>
      <p>Attendees: {{ ticket.eventTicket.persons * ticket.quantity }}</p>
    </div>
  </div> -->

  <div class="space-y-4">
    <div
      *ngFor="let ticket of tickets"
      class="flex items-center bg-white shadow-md p-4 rounded-lg"
    >
      <img
        [src]="ticket.event.images[0]"
        alt="{{ ticket.event.title }}"
        class="mr-4 rounded-lg w-24 h-24 object-cover"
      />
      <div class="flex-grow">
        <h2 class="font-semibold text-xl">{{ ticket.event.title }}</h2>
        <p class="text-gray-600">
          Start Date: {{ ticket.event.startTime | date : "mediumDate" }} Time:
          {{ ticket.event.startTime | date : "shortTime" }}
        </p>
        <p class="text-gray-600">
          {{ ticket.eventTicket.price * ticket.quantity | currency : "Ksh. " }}
        </p>
      </div>
      <div class="text-right">
        <p class="mb-2 text-gray-600">Tickets: {{ ticket.quantity }}</p>
        <button
          class="bg-gray-300 hover:bg-gray-400 px-4 py-2 rounded-lg text-gray-700 transition duration-300"
        >
          View Details
        </button>
      </div>
    </div>
  </div>
</div>
