<section class="space-y-6">
  <div
    class="bg-[url('/images/hero.jpg')] bg-cover bg-no-repeat bg-center w-full h-[40vh]"
  >
    <div
      class="top-[30vh] absolute flex flex-col justify-center items-center gap-2 w-full"
    >
      <h2 class="font-bold text-4xl">
        Discover Events that match your Interests
      </h2>
    </div>
  </div>
  <div class="px-4">
    <h2 class="pb-4 font-bold text-2xl">Browse By Category</h2>
    <div class="flex gap-4 text-semibold">
      <div
        *ngFor="let category of categories"
        class="w-64 h-48"
        routerLink="events"
      >
        <img
          src="{{ category.imageUrl }}"
          alt="{{ category.name }} image"
          class="w-full h-40 object-center"
        />
        <h3>{{ category.name }}</h3>
      </div>
    </div>
  </div>
  <div class="px-4">
    <h2 class="pb-4 font-bold text-2xl">Popular Events</h2>
    <div class="flex gap-4 w-full text-semibold">
      <div
        *ngFor="let event of events"
        class="w-96 h-56 hover:cursor-pointer"
        routerLink="/event/{{ event.id }}"
      >
        <img
          src="{{ event.imagesUrl[0] }}"
          alt="{{ event.name }} image"
          class="w-full h-full object-center"
        />
        <h3>{{ event.name }}</h3>
        <h3 class="font-semibold">{{ event.city }}</h3>
      </div>
    </div>
  </div>
</section>
