<section class="space-y-6">
  <div
    class="bg-[url('/images/hero.jpg')] bg-cover bg-no-repeat bg-center w-full h-[40vh]"
  >
    <div
      class="top-[30vh] absolute flex flex-col justify-center items-center gap-2 w-full"
    >
      <h2 class="font-bold text-6xl">
        Discover Events that match your Interests
      </h2>
    </div>
  </div>
  <div class="px-4">
    <h2 class="my-8 pb-4 font-bold text-5xl text-center">Browse By Category</h2>
    <div class="flex justify-center gap-4 text-semibold">
      <div
        *ngFor="let category of categories"
        class="w-80 h-72 hover:cursor-pointer hover:scale-105 hover:shadow-lg hover:rounded-xl duration-300"
        routerLink="events"
      >
        <img
          src="{{ category.imageUrl }}"
          alt="{{ category.name }} image"
          class="rounded-xl w-full h-60 object-center"
        />
        <h3 class="text-2xl text-center">{{ category.name }}</h3>
      </div>
    </div>
  </div>
  <div class="px-4">
    <h2 class="my-8 pb-4 font-bold text-5xl text-center">Popular Events</h2>
    <div
      class="flex flex-wrap justify-center items-center gap-4 mb-16 w-full text-semibold"
    >
      <div
        *ngFor="let event of events"
        class="w-80 h-80 hover:cursor-pointer hover:scale-105 hover:shadow-lg hover:rounded-xl duration-300"
        routerLink="/event/{{ event.id }}"
      >
        <img
          src="{{ event.images[0] }}"
          alt="{{ event.title }} image"
          class="rounded-xl w-full h-60 object-center"
        />
        <h3>{{ event.title }}</h3>
        <h3 class="font-semibold">{{ event.city }}</h3>
      </div>
    </div>
  </div>
  <div class="flex justify-center gap-4 my-4 mt-4 px-4 pt-8 w-full">
    <img
      src="/images/event.jpg"
      alt="event image"
      class="w-96 h-72 object-cover"
    />
    <div class="flex flex-col justify-center items-center">
      <h2 class="font-bold text-2xl xl:text-4xl">
        Events That Match Your Interests
      </h2>
      <p class="text-xl xl:text-2xl">
        No matter what interests you have, we have events to give you the best
        time of your life
      </p>
      <button
        class="bg-[rgba(2,77,223,0.7)] mt-8 px-12 py-2 text-white xl:text-lg self-end hover:scale-105 hover:bg-blue"
        routerLink="/events"
      >
        Browse events
      </button>
    </div>
  </div>
  <div class="w-full h-20"></div>
  <app-about-us></app-about-us>
  <app-contact-us></app-contact-us>
</section>
