<section class="flex flex-col items-center bg-gray-bg w-[80vw] min-h-screen">
  <div class="bg-white1 p-4 w-full">
    <h1 class="font-bold text-4xl text-center">NOTIFICATIONS</h1>
  </div>
  <form
    [formGroup]="notificationForm"
    (ngSubmit)="onSubmit()"
    class="bg-white1 mx-12 my-8 p-8 w-[40rem] h-fit"
  >
    <div class="mb-4">
      <select
        name="categoryId"
        id="categoryId"
        formControlName="categoryId"
        class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
      >
        <option value="" disabled selected>Choose category</option>
        <option value="tech">Tech</option>
        <option value="tech">Music</option>
      </select>
      <div *ngIf="categoryId?.dirty && categoryId?.invalid">
        <small *ngIf="categoryId?.errors?.['required']" class="text-red-500"
          >Category is required.</small
        >
        <small *ngIf="categoryId?.errors?.['categoryId']" class="text-red-500"
          >Category is invalid.</small
        >
      </div>
    </div>
    <div class="mb-4">
      <label for="subject">Subject</label>
      <input
        type="text"
        formControlName="subject"
        placeholder="Subject..."
        class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
      />
      <div *ngIf="subject?.dirty && subject?.invalid">
        <small *ngIf="subject?.errors?.['required']" class="text-red-500"
          >Subject is required.</small
        >
        <small *ngIf="subject?.errors?.['subject']" class="text-red-500"
          >Subject is invalid.</small
        >
      </div>
    </div>
    <div class="mb-4">
      <textarea
        name="message"
        id="message"
        formControlName="message"
        placeholder="Message..."
        class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
      ></textarea>
      <div *ngIf="message?.dirty && message?.invalid">
        <small *ngIf="message?.errors?.['required']" class="text-red-500"
          >Message is required.</small
        >
      </div>
    </div>
    <button
      type="submit"
      [disabled]="notificationForm.invalid"
      class="bg-blue disabled:bg-gray-300 p-3 rounded-lg w-full text-white"
    >
      Send Notification
    </button>
  </form>
  <div class="bg-white1 p-4 pb-6 w-full">
    <h2 class="pb-2 font-semibold text-2xl">Recent Notifications</h2>
    <table class="bg-gray1 p-2 w-full">
      <thead>
        <th class="border-stroke border text-start">Event Name</th>
        <th class="border-stroke border text-start">Subject</th>
        <th class="border-stroke border text-start">Message</th>
        <th class="border-stroke border text-start">Date</th>
      </thead>
      <tbody>
        <tr *ngFor="let notification of notifications">
          <td class="border-stroke border">{{ notification.eventName }}</td>
          <td class="border-stroke border">{{ notification.subject }}</td>
          <td class="border-stroke border">{{ notification.message }}</td>
          <td class="border-stroke border">{{ notification.bookingDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
