<footer class="bottom-0 absolute bg-[#F5F5F5] px-4 xl:px-12 h-40">
  <div class="flex justify-around">
    <h2>Plana</h2>
    <div class="flex gap-4">
      <h4>Quick links:</h4>
      <a routerLink="">Home</a>
      <a routerLink="/events">Events</a>
      <a routerLink="/hosts">Hosts</a>
      <a routerLink="/about">About</a>
      <a routerLink="/contact-us">Contact Us</a>
    </div>
  </div>
  <div>
    <p>
      Copyright © 2024 Shoppie. All Rights Reserved. Plana will always protect
      your security and privacy, Please read our detailed
      <span style="color: #1155cc">Privacy Policy</span>. Please do not reply to
      this email. For support, you can
      <span style="color: #1155cc">Contact Us</span>.
    </p>
    <p>
      Contact Address: <br />

      Chuka, Tharaka Nithi, Kenya
    </p>
  </div>
  <p class="w-full text-center">Copyright &copy; 2024 kimaru355</p>
</footer>
