<section class="bg-gray-bg pb-8 w-[80vw] min-h-screen">
  <div
    class="top-8 fixed flex justify-center items-center w-full"
    *ngIf="showMessage"
  >
    <p class="bg-red-400 px-12 py-2 rounded-lg" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
    <p class="bg-green-400 px-12 py-2 rounded-lg" *ngIf="successMessage">
      {{ successMessage }}
    </p>
  </div>
  <div
    class="top-0 right-0 bottom-0 left-0 z-40 fixed flex justify-center items-center bg-[rgba(0,0,0,0.4)]"
    *ngIf="showConfirmation"
  >
    <div class="bg-white p-4 rounded-xl w-80 h-60">
      <h2 class="py-1 font-bold text-4xl text-center">Confirmation</h2>
      <p class="text-xl">Are you sure want to delete the event?</p>
      <div class="flex justify-between my-8">
        <button
          class="bg-red-400 px-12 py-2 rounded-lg text-xl"
          (click)="confirmDialog(false)"
        >
          No</button
        ><button
          class="bg-green-400 px-12 py-2 rounded-lg text-xl"
          (click)="confirmDialog(true)"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
  <div class="bg-white1 p-4">
    <h1 class="font-bold text-4xl text-center">EVENTS</h1>
  </div>
  <div class="flex justify-between px-4 py-4">
    <select name="category" id="category" class="px-8 py-2 rounded-2xl">
      <option value="tech">Tech</option>
    </select>
    <input
      type="search"
      name="search"
      id="search"
      placeholder="Search Events"
      class="bg-white1 px-8 py-2 rounded-3xl w-80"
    />
    <button
      *ngIf="role === 'organizer'"
      class="bg-white1 hover:bg-blue px-8 py-2 rounded-2xl"
      routerLink="/dashboard/event/create"
    >
      Create Event
    </button>
  </div>
  <div class="px-4">
    <table class="bg-white1 p-2 w-full">
      <thead class="bg-yellow-300">
        <th class="border-stroke border text-start">Title</th>
        <th class="border-stroke border text-start">Capacity</th>
        <th class="border-stroke border text-start">Date</th>
        <th class="border-stroke border text-start">Country</th>
        <th
          class="border-stroke border text-start"
          *ngIf="role === 'organizer'"
        >
          Actions
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let event of events" class="odd:bg-white1 even:bg-blue1">
          <td class="border-stroke border">{{ event.title }}</td>
          <td class="border-stroke border">{{ event.capacity }}</td>
          <td class="border-stroke border">
            {{ event.startTime | date : "medium" }}
          </td>
          <td class="border-stroke border">{{ event.country }}</td>
          <td
            class="flex gap-2 border-stroke px-2 border"
            *ngIf="role === 'organizer'"
          >
            <img
              class="w-8 h-8 hover:cursor-pointer"
              src="/icons/edit.png"
              alt="edit button"
              routerLink="/dashboard/event/edit/{{ event.id }}"
            />
            <img
              (click)="showConfirmDialog(event.id)"
              class="w-8 h-8 hover:cursor-pointer"
              src="/icons/delete.png"
              alt="delete button"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
