<section class="flex flex-col items-center bg-gray-bg w-[80vw] min-h-screen">
  <div
    class="top-8 fixed flex justify-center items-center w-full"
    *ngIf="showMessage"
  >
    <p class="bg-red-400 px-12 py-2 rounded-lg" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
    <p class="bg-green-400 px-12 py-2 rounded-lg" *ngIf="successMessage">
      {{ successMessage }}
    </p>
  </div>
  <div class="bg-white1 p-4 w-full">
    <h1 class="font-bold text-4xl text-center">EVENT TICKETS</h1>
  </div>
  <form
    [formGroup]="notificationForm"
    (ngSubmit)="onSubmit()"
    class="bg-white1 mx-12 my-8 p-8 w-[40rem] h-fit"
  >
    <div class="mb-4">
      <select
        name="eventId"
        id="eventId"
        formControlName="eventId"
        class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
      >
        <option value="" disabled selected>Choose Event</option>
        <option *ngFor="let event of events" value="{{ event.id }}">
          {{ event.title }}
        </option>
      </select>
      <div *ngIf="eventId?.dirty && eventId?.invalid">
        <small *ngIf="eventId?.errors?.['required']" class="text-red-500"
          >Event is required.</small
        >
        <small *ngIf="eventId?.errors?.['eventId']" class="text-red-500"
          >Event is invalid.</small
        >
      </div>
    </div>
    <div class="mb-4">
      <label for="name">Ticket Name</label>
      <input
        type="text"
        formControlName="name"
        placeholder="Couple"
        class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
      />
      <div *ngIf="name?.dirty && name?.invalid">
        <small *ngIf="name?.errors?.['required']" class="text-red-500"
          >Name is required.</small
        >
      </div>
    </div>
    <div class="mb-4">
      <label for="type">Ticket Type</label>
      <input
        type="text"
        formControlName="type"
        placeholder="VIP"
        class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
      />
      <div *ngIf="type?.dirty && type?.invalid">
        <small *ngIf="type?.errors?.['required']" class="text-red-500"
          >Type is required.</small
        >
      </div>
    </div>
    <div class="mb-4">
      <label for="price">Ticket Price</label>
      <input
        type="number"
        formControlName="price"
        placeholder="Price"
        class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
      />
      <div *ngIf="price?.dirty && price?.invalid">
        <small *ngIf="price?.errors?.['required']" class="text-red-500"
          >price is required.</small
        >
      </div>
    </div>
    <div class="mb-4">
      <label for="persons">No. of Attendees</label>
      <input
        type="number"
        formControlName="persons"
        placeholder="Number of attendees"
        class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
      />
      <div *ngIf="persons?.dirty && persons?.invalid">
        <small *ngIf="persons?.errors?.['required']" class="text-red-500"
          >persons is required.</small
        >
      </div>
    </div>
    <div class="mb-4">
      <label for="quantity">Quantity Available</label>
      <input
        type="number"
        formControlName="quantity"
        placeholder="Number of tickets available"
        class="p-3 border focus:border-blue-300 rounded-lg w-full focus:outline-none focus:ring"
      />
      <div *ngIf="quantity?.dirty && quantity?.invalid">
        <small *ngIf="quantity?.errors?.['required']" class="text-red-500"
          >quantity is required.</small
        >
      </div>
    </div>
    <button
      type="submit"
      [disabled]="notificationForm.invalid"
      class="bg-blue disabled:bg-gray-300 p-3 rounded-lg w-full text-white"
    >
      Create Event Ticket
    </button>
  </form>
  <div class="bg-white1 p-4 pb-6 w-full">
    <h2 class="pb-2 font-semibold text-2xl">Event Tickets</h2>
    <table class="bg-gray1 p-2 w-full">
      <thead class="bg-yellow-300">
        <th class="border-stroke border text-start">Name</th>
        <th class="border-stroke border text-start">Type</th>
        <th class="border-stroke border text-start">Persons</th>
        <th class="border-stroke border text-start">Price</th>
      </thead>
      <tbody>
        <tr
          *ngFor="let eventTicket of eventTickets"
          class="odd:bg-white1 even:bg-blue1"
        >
          <td class="border-stroke border">{{ eventTicket.name }}</td>
          <td class="border-stroke border">{{ eventTicket.type }}</td>
          <td class="border-stroke border">{{ eventTicket.persons }}</td>
          <td class="border-stroke border">{{ eventTicket.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
